<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Pets</title>
</head>
<body>
<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="header text-center">
                <h1 class="text-uppercase">Pets Home Page</h1>
            </div>
        </div>
    </div>
    <div class="img-fluid">
        <img src="../images/puppy.jpg" width="250" height="250">
        <p>This is the best dog you can get I swear</p>
    </div>
</div>
</body>
</html>